<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container center-align">
        <div class="row">
            <h2 class="header center-align">Your Shopping Cart</h2>   
            <hr>                     
        </div>
        <div class="row cart-container hide-on-small-only">
            {% if cart_items %}

                <table class="striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Brewery</th>
                            <th>Style</th>
                            <th>ABV.</th>
                            <th>Vol.</th>
                            <th>Quantity</th>                        
                        </tr>
                    </thead>
                {% for beer in cart_items %}
                    <tbody>
                        <tr>
                            <td>
                                <div class="center">
                                    {% if beer.beer.image %}
                                        <img class="cart-image" src="{{ beer.beer.image_url }}" alt="{{ beer.beer }}">
                                    {% else %}
                                        <img class="cart-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ beer.name }}">
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ beer.beer }}</td>
                            <td>{{ beer.beer.brewery.friendly_name }}</td>
                            <td>{{ beer.beer.style.friendly_name }}</td>
                            <td>{{ beer.beer.abv }}%</td>
                            <td>{{ beer.beer.volume }}ml</td>
                            <td class="center-align">
                                <div class="row">
                                    <form class="form col s4 update-form" method="POST" action="{% url 'adjust_cart' beer.beer_id %}">
                                        {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="qty-select">
                                                        <input class="form-control qty_input center-align" type="number"
                                                            name="quantity" value="{{ beer.quantity }}" min="0" max="99"
                                                            data-item_id="{{ beer.id }}"
                                                            id="id_qty_{{ beer.id }}">
                                                    </div>
                                                </div>
                                            </div>
                                    </form>     
                                    <a href="#" class="col update-link submit cart-link green-text"><i class="material-icons">update</i></a>
                                    <a href="#" class="col remove-beer cart-link red-text" id="remove_{{ beer.beer.id }}" data-beer="{{ beer.beer.id }}"><i class="material-icons">delete_forever</i></a>
                                </div> 
                                          
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
                </table>
                {% if beer_count < 6 %}
                    <h6 class="right-align">Sub-total = £{{ total | floatformat:2 }}</h6>
                    <h6 class="right-align">Delivery = £{{ delivery | floatformat:2 }}</h6>
                {% else %}
                    <h6 class="right-align">Deliver is free with this order</h6>
                {% endif %}
                    <h5 class="right-align">Total = <b>£{{ grand_total | floatformat:2 }}</b></h5>
            {% else %}                
                    <h4 class="">Your cart is empty.</h4>
                    <a href="{% url 'beers' %}" class="btn large red darken-4">Back to Beer Store</a>
            {% endif %}
            {% if cart_items %}
            <a href="{% url 'checkout' %}" class="center cart-btn red darken-4 btn-large">
                <span>Checkout</span>
                <i class="material-icons right">lock</i>
            </a>
            {% endif %}
        </div>
        {% include "includes/mobile_cart.html" %}
    </div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.update-link').click(function(e) {
    var form = $(this).prev('.update-form');
    form.submit();
    })

    // Remove item and reload on click
    $('.remove-beer').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var beerId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${beerId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'beer': beerId};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}