<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="index-banner" class="parallax-container">
        <div class="parallax bg-image"><img src="{% static 'images/hnhbackground.png' %}" alt="Beer Background"></div>
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h2 class="header center red-text text-darken-4">Hits 'n' Hops</h2>
                <div class="row center">
                    <h6 class="col s12 white-text">A Beer and Vinyl club with new recommendations every month!</h6>
                </div>
                <br><br>
                <div class="row center">
                    <a href="#" id="membership-button" class="btn-large waves-effect waves-light large red darken-4">Join Us!</a>
                </div>
            </div>
        </div>
    </div>    

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="icon-block">
                        <h2 class="center"><i class="material-icons">store</i></h2>
                        <h5 class="center header red-text text-darken-4">Check Out Our Beer Store</h5>

                        <p class="light"> 
                            Browse our collection of beer from around the world. 
                        </p>
                        <div class="center">
                            <a href="{% url 'beers' %}" class=" btn waves-effect waves-light red darken-4">shop now</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="icon-block">
                        <h2 class="center"><i class="material-icons">album</i></h2>
                        <h5 class="center header red-text text-darken-4">Monthly Music Picks</h5>

                        <p class="light">Every Month we look to put our members in touch with some of the
                                best music around and make sure you can share it with friends and family.
                        </p>
                    </div>
                </div>

                <div class="col s12 l4">
                    <div class="icon-block">
                        <h2 class="center"><i class="material-icons">forum</i></h2>
                        <h5 class="center header red-text text-darken-4">Discuss Your Favourites</h5>

                        <p class="light">Chat to friends about all things beer and music. Use our forums or
                                 listening party service to discover new friends or connect with old ones.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <div class=" right-align col l4 offset-l7 m6 offset-m6 s12">
                        <div>
                            <h5 class="header">Become a member to recieve free delivery with all orders.</h5>
                        </div>
                        <div>
                            <a href="#" id="membership-button2" class="btn waves-effect waves-light red darken-4">Join the Club!</a>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'images/hnhbackground2.png' %}" alt="Vinyl Background"></div>
    </div>
{% endblock %}