<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="red-text large material-icons">store</i></h2>
            <h5 class="center">Browse our collections</h5>

            <p class="center light">Check out our latest beers and newest records, plenty of delightful sounds and plenty to wash it down!</p>
          </div>
          <div class="cta-container center-align">
            <a href="" class="waves-effect btn">Shop Now!</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="red-text large material-icons">card_membership</i></h2>
            <h5 class="center">Become a Member</h5>

            <p class="center light">Join Wax World to receive 10% off all orders with free next day delivery and more...</p>
          </div>
          <div class="cta-container center-align">
            <a href="" class="waves-effect btn">Join us!</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="red-text large material-icons">headset</i></h2>
            <h5 class="center">Connect with friends</h5>

            <p class="center light">Meet new like-minded people and share your favourite records with a complementary beer using our listening party service.</p>
          </div>
          <div class="cta-container center-align">
            <a href="" class="waves-effect teal btn">Meet Friends!</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}