<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s10 offset-s1">
            <h2 class="header center">My Profile</h2>   
            <hr>                     
    </div>
    <div class="profile-container">
        <div class="center row">
            <div class="col s10 offset-s1 m5 offset-m1">
                <h6>Delivery Information</h6>
                <form action="{% url 'profile' %}" method="POST" id="update-profile-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="mp-btn btn" type="submit">Update</button>
                </form>
            </div>
        </div>
        <div class="center row">
            <div class="col s10 offset-s1 m5">
                <h6>Order History</h6>
                <table>
                    
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Beers</th>
                            <th>Date</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:10 }}</a>
                            </td>
                            <td>
                                <ul>
                                    {% for item in order.lineitems.all %}
                                        <li class="small-text">
                                            {{ item.beer.name }} x {{ item.quantity }}                                       
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ order.date }}
                            </td>
                            <td>
                                £{{ order.grand_total }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}
