@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;700&family=Sansita+Swashed:wght@300;400;700&display=swap');

html {
    font-family: 'Piazzolla', sans-serif;
    height: 100%;
    color: #444;
}

.header {
    font-family: 'Sansita Swashed', sans-serif;
}