@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300;400;700&family=Sansita+Swashed:wght@300;400;700&display=swap');

html {
    font-family: 'Piazzolla', sans-serif;
    height: 100%;
    color: #444;
}

.header {
    font-family: 'Sansita Swashed', sans-serif;
}

.dropdown-content {
    width: 15rem!important; 
    height: inherit!important;
    top: -4rem;
}

.header-container {
    height: 1rem;
    top: 0;
}

.bg-image {
    width: 100%;
}

/*--------------------------------------------------------------------------------------------------beers page*/

.btt-link {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    color: #000;
}

.star {
    font-size: 15px;
}

.beer-display {
    height: 18rem;
    object-fit: contain
}

.beers-btn {
    margin: 1rem;
}

.btn-pick {
    width: 90%;
    margin: 2rem 1rem;
}

/*--------------------------------------------------------------------------------------------------beer detail page*/

.beer-detail {
    padding: 6rem 2rem;
    width: 100%;
}

.beer-image {
    margin: 0;
    max-height: 60vh;
    max-width: 100%;
}

.beer-description {
    padding: 1rem;
}

.beer-info {
    padding: 1rem 1rem;
}

.bd-btn {
    margin: 0.5rem 1rem;
    width: 15rem;
    background-color: #b71c1c;
}

.bd-btn:hover {
    background-color: #e53935;
}


/*--------------------------------------------------------------------------------------------------cart page*/

.cart-container {
    padding: 1rem;
    align-content: center;
}

/*---------------------------------------------------------------------------------------------------parallax*/

nav ul a,
nav .brand-logo {
    color: #444;
}

.row {
    margin: 0;
}

p {
    line-height: 2rem;
}

.parallax-container
.parallax img {
    opacity: 0.65;
}

.parallax-container {
    min-height: 50vh;
    line-height: 0;
    height: auto;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

@media (min-width: 1500px) {
    .container {
        width: 100%;
    }  
}