@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Sansita+Swashed:wght@300;400;700&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: #444;
}

.header {
    font-family: 'Sansita Swashed', sans-serif;
}

.star {
    font-size: 15px;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

.row {
    margin: 0;
}

p {
    line-height: 2rem;
}

.parallax-container
.parallax img {
    opacity: 0.65;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
