<!DOCTYPE html>
<a name="top"></a>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="header center-align">Our Record Collection</h2>   
            <hr>                     
        </div>


<!--  -----------------------------------------------------------------------------------------------RECORD LIST-->

        <div class="row">
            {% for record in records %}
                <div class="col s12 m6 l4 xl3">
                    <div class="large card">
                        <div class="card-image waves-effect waves-block waves-light">
                        {% if record.album_art %}
                        <a href="#">
                            <img class="record-display" src="{{ record.album_art }}" alt="{{ record.title }}">
                        </a>
                        {% else %}
                            <img class="record-display" src="{{ MEDIA_URL }}noimage.png" alt="{{ record.title }}">
                        {% endif %}
                        </div>
                        <div class="card-content">
                            <a href="#" class="card-title grey-text text-darken-4">{{ record.title }}</a>                   
                            <p>{{ record.artist }}</p>
                            <p>{{ record.genre }}</p>
                            <p>{{ record.label }}</p>
                            <p>{{ record.year }}</p>
                            {% if request.user.is_superuser %}
                                <div class="right">
                                    <a href="{% url 'edit_record' record.id %}" ><i class="small green-text material-icons">edit</i></a>
                                    <a href="{% url 'delete_record' record.id %}" ><i class=" small red-text material-icons">delete</i></a>
                                </div>
                            {% endif %}
                        </div>                                           
                    </div>
                </div>  
            {% endfor %}
        </div>

        
<!--  -----------------------------------------------------------------------------------------------/RECORD LIST-->

        <hr>  
    </div>
<a href="#" class=" btn btt-link"><i class="material-icons btt-icon">arrow_upward</i></a>
{% endblock %}