<!DOCTYPE html>
<a name="top"></a>
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="header center-align">Our Beer Collection</h2>   
            <hr>                     
        </div>

<!--  -----------------------------------------------------------------------------------------------BEER SORTING-->

        <div class="row center-align">
            <div class="col s12 m4">
                <a class="dropdown-trigger btn btn-pick large modal-trigger red darken-4" href="#" data-target="dropdown3">Styles</a>

                <!-- Dropdown Structure -->
                <ul id="dropdown3" class="dropdown-content">
                
                    {% for style in styles %}
                        <li><a href="{% url 'beers' %}?style={{ style.friendly_name }}" class="dropdown-item">{{ style.friendly_name }}</a></li>
                    {% endfor %}
                
                </ul>   
            </div>
            <div class="col s12 m4">
                <a class="dropdown-trigger btn btn-pick large red darken-4" href="#" data-target="dropdown4">Breweries</a>

                <!-- Dropdown Structure -->
                <ul id="dropdown4" class="dropdown-content">
                
                    {% for brewery in breweries %}
                        <li><a href="{% url 'beers' %}?brewery={{ brewery.friendly_name }}" class="dropdown-item">{{ brewery.friendly_name }}({{ beer.brewery.country }})</a></li>
                    {% endfor %}
                
                </ul>   
            </div>
            <div class="col s12 m4">
                <a class="dropdown-trigger btn btn-pick large red darken-4" href="#" data-target="dropdown5">Sort By...</a>

                <!-- Dropdown Structure -->
                <div class="input-field col s12">
                    <ul id="dropdown5" class="dropdown-content">                    
                        <li><a href="{% url 'beers' %}?sort=price&direction=desc" class="dropdown-item">Price (high-low)</a></li>
                        <li><a href="{% url 'beers' %}?sort=price&direction=asc" class="dropdown-item">Price (low-high)</a></li>                        
                        <li><a href="{% url 'beers' %}?sort=name&direction=asc" class="dropdown-item">Name (A-Z)</a></li>
                        <li><a href="{% url 'beers' %}?sort=name&direction=desc" class="dropdown-item">Name (Z-A)</a></li>
                        <li><a href="{% url 'beers' %}?sort=rating&direction=desc" class="dropdown-item">Rating (high-low)</a></li>
                        <li><a href="{% url 'beers' %}?sort=rating&direction=asc" class="dropdown-item">Rating (low-high)</a></li>
                        <li><a href="{% url 'beers' %}?sort=abv&direction=desc" class="dropdown-item">Abv. (high-low)</a></li>
                        <li><a href="{% url 'beers' %}?sort=abv&direction=asc" class="dropdown-item">Abv. (low-high)</a></li>
                    </ul>
                </div>
            </div>
        </div>


<!--  -----------------------------------------------------------------------------------------------BEER SORTING-->

<!--  -----------------------------------------------------------------------------------------------BEER LIST-->

        <div class="row">
            {% for beer in beers %}
                <div class="col s12 m6 l4 xl3">
                    <div class="large card">
                        <div class="card-image waves-effect waves-block waves-light">
                        {% if beer.image %}
                        <a href="{% url 'beer_detail' beer.id %}">
                            <img class="beer-display" src="{{ beer.image_url }}" alt="{{ beer.name }}">
                        </a>
                        {% else %}
                            <img class="beer_display" src="{{ MEDIA_URL }}noimage.png" alt="{{ beer.name }}">
                        {% endif %}
                        </div>
                        <div class="card-content">
                            <a href="" class="red-text text-darken-4 material-icons activator right">more_vert</a>
                            <a href="{% url 'beer_detail' beer.id %}" class="card-title grey-text text-darken-4">{{ beer.name }}</a>                   
                            <p>{{ beer.abv }}%</p>
                            <p>{{ beer.volume }}ml</p>
                            <p>{{ beer.rating }}<i class="material-icons star">star</i></p>
                            <p><b>£{{ beer.price }}</b></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ beer.brewery.friendly_name }}<i class="material-icons right">close</i></span>
                            <p>{{ beer.style.friendly_name }}</p>
                            <p>{{ beer.description }}</p>
                            
                        </div>                        
                    </div>
                </div>  
            {% endfor %}
        </div>

        
<!--  -----------------------------------------------------------------------------------------------/BEER LIST-->

        <hr>  
    </div>
<a href="#" class=" btn btt-link"><i class="material-icons btt-icon">arrow_upward</i></a>
{% endblock %}