<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="header center-align">Our Beer Collection</h2>   
            <hr>                     
        </div>
        <div class="row center-align">
            <div class="col s12 m4">
                <a class="btn btn-pick red darken-4 large modal-trigger" href="#style">Choose Style</a>

                <!-- Modal Structure -->
                <div id="style" class="modal">
                    <div class="modal-content">
                        <h4>Pick Your Style</h4>
                        {% for style in styles %}
                            <form action="#">
                                <p>
                                    <label>
                                        <input name="group1" type="radio"/>
                                        <span>{{ style.friendly_name }}</span>
                                    </label>
                                </p>
                            </form>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>

            </div>
            <div class="col s12 m4">
                <a class="btn btn-pick large modal-trigger red darken-4" href="#brewery">Choose Brewery</a>

                <!-- Modal Structure -->
                <div id="brewery" class="modal">
                    <div class="modal-content">
                        <h4>Choose a Brewery</h4>
                        {% for brewery in breweries %}
                            <form action="#">
                                <p>
                                    <label>
                                        <input name="group1" type="radio"/>
                                        <span>{{ brewery.friendly_name }}</span>
                                    </label>
                                </p>
                            </form>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>    
            </div>
            <div class="col s12 m4">
                <a class="dropdown-trigger btn btn-pick large modal-trigger red darken-4" href="#" data-target="dropdown3">Sort By...</a>

                <!-- Dropdown Structure -->
                <ul id="dropdown3" class="dropdown-content">
                        <li><a href="#!">Name</a></li>
                        <li><a href="#!">Name</a></li>
                        <li><a href="#!">Price</a></li>
                        <li><a href="#!">Style</a></li>
                        <li><a href="#!">Abv.</a></li>
                        <li><a href="#!">Rating</li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% for beer in beers %}
                <div class="col s12 m6 l4 xl3">
                    <div class="large card">
                        <div class="card-image waves-effect waves-block waves-light">
                        {% if beer.image %}
                            <img class="beer-display activator" src="{{ beer.image_url }}" alt="{{ beer.name }}">
                        {% else %}
                            <img class="beer_display activator" src="{{ MEDIA_URL }}noimage.png" alt="{{ beer.name }}">
                        {% endif %}
                        </div>
                        <div class="card-content">
                            <a href="#" class="material-icons activator right">more_vert</a>
                            <a href="{% url 'beer_detail' beer.id %}" class="card-title grey-text text-darken-4">{{ beer.name }}</a>                   
                            <p>£{{ beer.price }}</p>
                            <p>{{ beer.abv }}%</p>
                            <p>{{ beer.volume }}ml</p>
                            <p>{{ beer.rating }}<i class="material-icons star">star</i></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ beer.brewery.friendly_name }}<i class="material-icons right">close</i></span>
                            <p>{{ beer.style.friendly_name }}</p>
                            <p>{{ beer.description }}</p>
                            <div class="div center-align">
                                <a class="beers-btn btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add_shopping_cart</i></a>
                                <a href="{% url 'beer_detail' beer.id %}" class="beers-btn btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">info_outline</i></a>
                            </div>
                        </div>                        
                    </div>
                </div>  
            {% endfor %}
        </div>
        <hr>  
    </div>
{% endblock %}