<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container beer-detail valign-wrapper">
        <hr>
        <div class="row">
            <div class="col s12 m4 center-align">
                {% if beer.image %}
                    <img class="beer-image" src="{{ beer.image_url }}" alt="{{ beer.name }}">
                {% else %}
                    <img class="beer-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ beer.name }}">
                {% endif %}
            </div>
            <div class="col s12 m8 center-align">
                <hr>
                <div class="center-align header beer-header"> 
                    <h3>{{ beer.name }}</h3>
                    <h5>{{ beer.brewery.friendly_name }}</h5>
                    <h6><b>Price: £{{ beer.price }}</b></h6>
                </div>
                <div class="beer-description left-align">
                    <h6>{{ beer.description }}</h6>
                </div>
                 <div class="row center-align">
                    <div class="col s6 l3">
                        <p><b>Style</b>: {{ beer.style.friendly_name }}</p>
                    </div>
                    <div class="col s6 l3">
                        <p><b>ABV.</b>: {{ beer.abv }}%</p>
                    </div>
                    <div class="col s6 l3">
                        <p><b>Vol.</b>: {{ beer.volume }}ml</p>
                    </div>
                    <div class="col s6 l3">
                        <p><b>Rating</b>: {{ beer.rating }}/5</p>
                    </div>
                </div>
                <div class="row">
                    <form class="form" action="{% url 'add_to_cart' beer.id %}" method="POST">
                        <div class="col s12 m3 offset-m3">
                            <h5><strong>Quantity:</strong></h5>
                            {% csrf_token %}
                                <div class="form-group">
                                    <div class="qty-select">
                                        <input class="form-control qty_input center-align" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ beer.id }}"
                                            id="id_qty_{{ beer.id }}">
                                    </div>
                                </div>

                            </div>
                        <div class="col s12 m3">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <button type="submit" class= "truncate btn atc-btn waves-effect waves-light">
                                <p>add to cart</p>
                                <p><i class="material-icons large">add_shopping_cart</i></p>
                            </button>
                        </div> 
                    </form>
                </div>
                <hr>
                                
                <div class="button-container container">
                    <div class="row">
                        <div class="col s12 m4">
                            <a href="{% url 'beer_detail' beer.id %}" class="truncate btn large bd-btn waves-effect waves-light"><i class="material-icons right">star</i>rate beer</a>
                        </div>
                        <div class="col s12 m4">
                            <a href="{% url 'beer_detail' beer.id %}" class="truncate btn large bd-btn waves-effect waves-light"><i class="material-icons right">rate_review</i>review</a>
                        </div>
                        <div class="col s12 m4">
                            <a href="{% url 'beers' %}" class="truncate btn large bd-btn waves-effect waves-light"><i class="material-icons right">store</i>back to store</a>
                        </div>
                    </div>
                </div>
                <hr>             
            </div>
        </div>
        <hr>
    </div>
    
{% endblock %}