<!DOCTYPE html>

<div class="row cart-container hide-on-med-and-up">
    {% if cart_items %}
        <table class="stripped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Quantity</th>  
                    <th>Sub-total</th>                      
                </tr>
            </thead>
            {% for beer in cart_items %}
            <tbody>
                <tr>
                    <td>
                        <div class="center">
                            {% if beer.beer.image %}
                                <img class="cart-image" src="{{ beer.beer.image_url }}" alt="{{ beer.beer }}">
                            {% else %}
                                <img class="cart-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ beer.name }}">
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ beer.beer }}</td>
                    
                    <td class="center-align">
                                <div class="row">
                                    <form class="form col s6 update-form" method="POST" action="{% url 'adjust_cart' beer.beer_id %}">
                                        {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="qty-select">
                                                        <input class="form-control qty_input center-align" type="number"
                                                            name="quantity" value="{{ beer.quantity }}" min="0" max="99"
                                                            data-item_id="{{ beer.id }}"
                                                            id="id_qty_{{ beer.id }}"
                                                            style="padding-top: 1rem;display: block;">
                                                    </div>
                                                </div>
                                            </div>
                                    </form>     
                                    <a href="#" class="col update-link submit cart-link green-text"><i class="material-icons">update</i></a>
                                    <a href="#" class="col remove-beer cart-link red-text" id="remove_{{ beer.beer.id }}" data-beer="{{ beer.beer.id }}"><i class="material-icons">delete_forever</i></a>
                                </div> 
                                          
                            </td>
                    <td>£{{ total | floatformat:2 }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% if beer_count < 6 %}
            <h6 class="right-align">Sub-total = £{{ total | floatformat:2 }}</h6>
            <h6 class="right-align">Delivery = £{{ delivery | floatformat:2 }}</h6>
        {% else %}
            <h6 class="right-align">Deliver is free with this order</h6>
        {% endif %}
        <h5 class="right-align">Total = <b>£{{ grand_total | floatformat:2 }}</b></h5>
    {% else %}                
        <h4 class="">Your cart is empty.</h4>
        <a href="{% url 'beers' %}" class="btn large red darken-4">Back to Beer Store</a>
    {% endif %}
        <a href="{% url 'checkout' %}" class="center cart-btn red darken-4 btn-large">
            <span>Checkout</span>
            <i class="material-icons">lock</i>
        </a>            
    </div>