<!DOCTYPE html>

<div class="row cart-container hide-on-med-and-up">
    {% if cart_items %}
        <table class="stripped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Style</th>
                    <th>Quantity</th>
                    <th>Price</th>                         
                </tr>
            </thead>
            {% for beer in cart_items %}
            <tbody>
                <tr>
                    <td>{{ beer.beer }}</td>
                    <td>{{ beer.beer.style.friendly_name }}</td>
                    
                    <td class="center-align">
                        <form class="row form update-form" method="POST" action="{% url 'adjust_cart' beer.beer_id %}">
                            <div class=" col s6 form-group">
                                <div class="qty-select">
                                    <input class="form-control qty_input center-align" type="number"
                                        name="quantity" value="{{ beer.quantity }}" min="1" max="99"
                                        data-item_id="{{ beer.id }}"
                                        id="id_qty_{{ beer.id }}">
                                </div>
                            </div>
                            <div class="col s6">
                                <div class="row">    
                                    <a href="#" class="update-link small green-text">update</a>
                                </div>
                                <div class="row">
                                    <a href="#" class="remove-item small red-text" id="remove_{{ beer.beer_id }}">remove</a>
                                </div>
                            </div> 
                        </form>       
                    </td>
                    <td>£{{ beer.beer.price }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <h6 class="right-align">Delivery = £{{ delivery | floatformat:2 }}</h6>
        <h5 class="right-align">Total = <b>£{{ grand_total | floatformat:2 }}</b></h5>
        {% else %}                
            <h4 class="">Your cart is empty.</h4>
            <a href="{% url 'beers' %}" class="btn large red darken-4">Back to Beer Store</a>
        {% endif %}
            
        </div>